{% extends 'base.html.twig' %}

{% block title %}Paragraphs{% endblock %}

{% block body %}
<div class="container-fluid mt-3 mb-3">
  <p class="hidden" id="title">{{title}}</p>
  <p class="hidden" id="gamebook">{{gamebook}}</p> 
  {% if app.user != null %}
    <div class="row">
      <div class="col-sm-12 col-md-4">
      <a href="{{ path('paragraph_create', {'gamebook':gamebook}) }}"><button type="button" class="col-12 btn-primary d-grid gap-2 nav-link text-white">Create Paragraph</button></a>   
      {{ knp_pagination_filter(pagination, {'g.name': 'Gamebook', 'p.number': 'Number', 'p.text': 'Text'}) }}
      {{ knp_pagination_render(pagination, null, {}, {
      'align': 'center',
      'size': 'small',
      'rounded': true,
      }) }}
      </div>
      <div class="col-sm-12 col-md-8 table-responsive">
        <table class="table table-striped table-light">
          <thead>
            <tr>
              <th>ID</th>
              <th>Gamebook</th>
              <th>Number</th>
              <th>Text</th>
              <th>Paragraph Actions</th>
              <th>Paragraph Directions</th>
            </tr>
          </thead>
          <tbody name="paragraphTable" id="paragraphTable">
            {% for paragraph in pagination %}
            {% set id = paragraph.id %}
              <tr>
                <td><a class="nav-link" href="{{ path('paragraph_edit', {'id': paragraph.id}) }}">{{ paragraph.id}}</a></td>
                <td>{{ paragraph.gamebook }}</td>
                <td>{{ paragraph.number }}</td>
                <td>{{ paragraph.text }}</td>
                <td><a class="nav-link" href="{{ path('paragraphaction_view', {'id': paragraph.id}) }}">{{ paragraph.id}}</a></td>
                <td><a class="nav-link" href="{{ path('paragraphdirection_view', {'id': paragraph.id}) }}">{{ paragraph.id}}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}           
</div>
{% endblock %}
