{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}

{% block body %}
<div class="container-fluid mt-3 mb-3">
  <p class="hidden" id="title">{{title}}</p>
  <p class="hidden" id="gamebook">{{gamebook}}</p>
  <p class="hidden" id="paragraph">{{paragraph}}</p> 
  {% if app.user != null %}
    <div class="row">
      <div class="col-sm-12 col-md-4" id="searchBox">
      <a href="{{ path('equipmentrequired_view', {'gamebook': gamebook, 'paragraph': paragraph}) }}"><button type="button" class="col-12 btn-warning d-grid gap-2 nav-link text-white">Return to Equipment Required</button></a>
      <a href="{{ path('equipment_create', {'gamebook': gamebook, 'paragraph': paragraph}) }}"><button type="button" class="col-12 btn-primary d-grid gap-2 nav-link text-white">Create Equipment</button></a>   
      {{ knp_pagination_filter(pagination, {'e.name': 'Equipment Name'}) }}
      {{ knp_pagination_render(pagination, null, {}, {
      'align': 'center',
      'size': 'small',
      'rounded': true,
      }) }}
      </div>
      <div class="col-sm-12 col-md-8 table-responsive" id="tableView">
      <a id="toggleSearch" class="nav-link text-white text-center paleRed">Search</a>
        <table class="table table-striped table-light">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody name="equipmentTable" id="equipmentTable">
            {% for equipment in pagination %}
            {% set id = equipment.id %}
              <tr>
                <td><a class="nav-link" href="{{ path('equipment_edit', {'gamebook': gamebook, 'paragraph': paragraph, 'id': equipment.id}) }}">{{ equipment.name}}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}           
</div>
{% endblock %}
