{% extends 'base.html.twig' %}
{% block title %}Play Adventure{% endblock %}
{% block body %}
{% if app.user != null %}
    <p class="hidden" id="title">{{title}}</p>
    <p class="hidden" id="adventure">{{adventure}}</p>
    <p class="hidden" id="paragraph">{{paragraph}}</p> 
    <div class="container-fluid">
        <div class="d-flex container position-absolute top-50 start-50 translate-middle justify-content-center">
            <div class="d-flex">
                <h1 id="gameover" class="hidden"><a class="nav-link" href="{{ path('homepage') }}">Game Over</a></h1>
            </div>
        </div>
        <div class="row" id="game">
            <div class="col-sm-12 col-md-4 mobileHidden" id="heroStats">
                <div class="table-responsive">
                    {% for adventure in pagination %}    
                        <table class="table table-striped table-light">
                            <tr>
                                <th>Gamebook</th>
                                <td colspan="2">{{ adventure.gamebook }}</td>
                            </tr>
                            <tr>
                                <th>Adventure</th>
                                <td colspan="2">{{ adventure.name }}</td>
                            </tr>          
                            <tr>
                                <th>Name</th>
                                <td colspan="2">{{ adventure.hero }}</td>
                                <td class="hidden" id="heroId">{{adventure.hero.id}}</td>
                            </tr>
                            <tr>
                                <th>Attribute</th>
                                <th>Starting</th>
                                <th>Current</td>         
                            </tr>                            
                            <tr>
                                <th>Skill</th>
                                <td>{{ adventure.hero.startingskill }}</td>
                                <td id="gameskill">{{ adventure.hero.skill }}</td>
                                <td class="hidden" id="playerskill">{{adventure.hero.skill}}</td>          
                            </tr>
                            <tr>
                                <th>Stamina</th>
                                <td>{{ adventure.hero.startingstamina }}</td>
                                <td id="gamestamina">{{ adventure.hero.stamina }}</td>
                                <td class="hidden" id="stamina">{{adventure.hero.stamina}}</td>         
                            </tr>   
                            <tr>
                                <th>Luck</th>
                                <td>{{ adventure.hero.startingluck }}</td>  
                                <td id="gameluck">{{ adventure.hero.luck }}</td>
                                <td class="hidden" id="luck">{{adventure.hero.luck}}</td>       
                            </tr>  
                            <tr>
                                <th>Provisions</th>
                                 <td>{{ adventure.hero.startingprovision }}</td>  
                                <td id="gameprovision">{{ adventure.hero.provision }}</td>
                                <td class="hidden" id="provision">{{adventure.hero.provision}}</td>              
                            </tr>      
                            <tr>
                                <th>Honour</th>
                                <td colspan="2">{{ adventure.hero.honour }}</td>         
                            </tr>   
                            <tr>
                                <th>Treasure</th>
                                <td colspan="2">{{ adventure.hero.treasure }}</td>         
                            </tr>                                                 
                        </table>
                    {% endfor %} 
                    <table class="table table-striped table-light">
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Equipment</th>
                        <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody name="heroequipmentTable" id="heroequipmentTable">
                        {% for heroequipment in paginationEquipment %}
                        {% set id = heroequipment.id %}
                        <tr>
                            <td>{{ heroequipment.id}}</td>
                            <td>{{ heroequipment.equipment }}</td>
                            <td>{{ heroequipment.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>     
                </div>                           
            </div>
            <div class="col-sm-12 col-md-8" id="gameWindow">
                <a id="toggleStats" class="nav-link text-white text-center paleRed largeHidden">Stats</a>
                <div class="row" id="paragraphText">
                    {% for paragraph in paginationParagraph %}
                        <p>{{ paragraph.text}}</p>
                    {% endfor %}
                </div>
                <div class="row" id="paragraphAction">
                    {% for paragraphaction in paginationParagraphAction %}
                        <div class="row paragraphactionlist">
                            <table class="table table-light" id="paragraphactiontext">         
                                <tr>
                                    <th>Paragraph Action</th>
                                    <td id="paragraphactionclick" class="paragraphactionlisttext">{{ paragraphaction.text }}</td>
                                </tr>                     
                                <tr>
                                    <th>Category</th>
                                    <td class="paragraphactionlistcategory">{{ paragraphaction.paragraphactioncategory }}</td>
                                </tr>                            
                                <tr>
                                    <th>Operator</th>
                                    <td class="paragraphactionlistoperator">{{ paragraphaction.paragraphactionoperator }}</td>
                                </tr>
                                <tr>
                                    <th>Attribute</th>
                                    <td class="paragraphactionlistattribute">{{ paragraphaction.paragraphactionattribute }}</td>
                                </tr>                                
                                <tr>
                                    <th>Action Value</th>
                                    <td class="paragraphactionlistactionvalue">{{ paragraphaction.actionvalue }}</td>
                                </tr>  
                                <tr>
                                    <th>Target</th>
                                    <td class="paragraphactionlisttarget">{{ paragraphaction.paragraphactiontarget }}</td>
                                </tr>                                         
                                <tr>
                                    <th>Dice Roll</th>
                                    <td class="paragraphactionlistdiceroll">{{ paragraphaction.numberdice }}</td>
                                </tr>                                                                          
                            </table>
                        </div>                        
                    {% endfor %}
                    <table id="actionText">
                    </table>                    
                </div>
                <div class="row" id="paragraphEnemy">
                    {% for paragraphenemy in paginationEnemy %}
                        {% if paragraphenemy.battlecategory == "Group" %}
                            <div class="col" id="enemy">
                                <table class="table table-striped table-light">
                                    <tr>
                                        <th>Image</th>
                                        <td>{{ paragraphenemy.image }}</td>
                                    </tr>                                
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ paragraphenemy.name }}</td>
                                    </tr>                            
                                    <tr>
                                        <th>Skill</th>
                                        <td>{{ paragraphenemy.skill }}</td>
                                    </tr>
                                    <tr>
                                        <th>Stamina</th>
                                        <td>{{ paragraphenemy.stamina }}</td>
                                    </tr>                                
                                </table>
                            </div>
                        {% elseif paragraphenemy.battlecategory == "Single" %}
                                <table class="table table-striped table-light">
                                    <tr>
                                        <th>Image</th>
                                        <td>{{ paragraphenemy.image }}</td>
                                    </tr>                                
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ paragraphenemy.name }}</td>
                                    </tr>                            
                                    <tr>
                                        <th>Skill</th>
                                        <td>{{ paragraphenemy.skill }}</td>
                                    </tr>
                                    <tr>
                                        <th>Stamina</th>
                                        <td>{{ paragraphenemy.stamina }}</td>
                                    </tr>                                
                                </table>    
                        {% elseif paragraphenemy.battlecategory == "Special" %}
                            <div id="specialBattle">
                                <table class="table table-striped table-light">
                                    <tr>
                                        <th>Image</th>
                                        <td>{{ paragraphenemy.image }}</td>
                                    </tr>                                
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ paragraphenemy.name }}</td>
                                    </tr>                            
                                    <tr>
                                        <th>Skill</th>
                                        <td>{{ paragraphenemy.skill }}</td>
                                    </tr>
                                    <tr>
                                        <th>Enemy Attack Strength</th>
                                        <td id="enemyattackstrength">{{ paragraphenemy.skill + random(1,6) + random(1,6)  }}</td>
                                    </tr>    
                                    <tr>
                                        <th>Player Attack Strength</th>
                                        <td id="playerattackstrength">{{ random(1,6) + random(1,6)  }}</td>
                                    </tr>                                                                    
                                </table>
                            </div>                        
                        {% endif %}
                            <div class="col">
                                <button id="battleCreate" class="btn btn-danger col-12"><a class="nav-link text-white" href="{{ path('battle_create', {'adventure': adventure, 'paragraph': paragraphenemy.paragraph.id, 'enemy': paragraphenemy.id, 'luck': 0}) }}">Fight!</a></button>
                            </div>
                            <div class="col">
                                <button id="battleCreateLuck" class="btn btn-warning col-12"><a class="nav-link text-white" href="{{ path('battle_create', {'adventure': adventure, 'paragraph': paragraphenemy.paragraph.id, 'enemy': paragraphenemy.id, 'luck': 1}) }}">Fight with Luck!</a></button>
                            </div>                           
                    {% endfor %}
                </div>
                <div class="row" id="paragraphBattle">
                    {% for paragraphbattle in paginationBattle %}
                        <div class="card">
                            <div class="row" id="battleEnemy">
                                <table class="table table-striped table-light">
                                    <tr>
                                        <th>Enemy Name</th>
                                        <td>{{ paragraphbattle.enemy }}</td>
                                    </tr>                                
                                    <tr>
                                        <th>Battle Round</th>
                                        <td>{{ paragraphbattle.round }}</td>
                                    </tr>                            
                                    <tr>
                                        <th>Player Stamina</th>
                                        <td id="battleplayerstamina">{{ paragraphbattle.playerstamina }}</td>
                                    </tr>
                                    <tr>
                                        <th>Enemy Stamina</th>
                                        <td>{{ paragraphbattle.enemystamina }}</td>
                                        <td class="hidden" id="enemystamina">{{ paragraphbattle.enemystamina }}</td>
                                    </tr> 
                                    <tr>
                                        <th>Player Skill</th>
                                        <td id="battleplayerskill">{{ paragraphbattle.playerskill }}</td>
                                    </tr>
                                    <tr>
                                        <th>Enemy Skill</th>
                                        <td id="enemyskill">{{ paragraphbattle.enemyskill }}</td>
                                    </tr>                                                                        
                                                                 
                                </table>
                                <div class="col">
                                    <button id="battleNext" class="btn btn-danger col-12"><a class="nav-link text-white" href="{{ path('battle_next', {'adventure': adventure, 'paragraph': paragraph, 'battle': paragraphbattle.id, 'luck': 0}) }}">Next Round</a></button>
                                </div>
                                <div class="col">                            
                                    <button id="battleNextLuck" class="btn btn-warning col-12"><a class="nav-link text-white" href="{{ path('battle_next', {'adventure': adventure, 'paragraph': paragraph, 'battle': paragraphbattle.id, 'luck': 1}) }}">Next Round with Luck</a></button>                           
                                </div>
                            </div>
                        </div>                        
                    {% endfor %}
                </div>                
                <div class="row" id="paragraphDirection">
                    {% for paragraphdirection in paginationParagraphDirection %}
                        <div class="col paragraphDirection">
                            <button class="btn btn-success col-12"><a class="nav-link text-white" href="{{ path('adventure_next', {'adventure': adventure, 'paragraph': paragraphdirection.redirectparagraph}) }}">{{ paragraphdirection.text}}</a></button>
                        </div>
                    {% endfor %}
                </div>                                                

            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
