{% extends 'base.html.twig' %}

{% block title %}Adventures{% endblock %}

{% block body %}
<div class="container-fluid mt-3 mb-3">
  <p class="hidden" id="title">{{title}}</p> 
  {% if app.user != null %}
    <div class="row">
      <div class="col-sm-12 col-md-4">
      <a href="{{ path('adventure_create') }}"><button type="button" class="col-12 btn-primary d-grid gap-2 nav-link text-white">Create Adventure</button></a>   
      {{ knp_pagination_filter(pagination, {'u.name': 'User', 'g.name': 'Gamebook', 'h.name': 'Hero', 'a.timeelapsed': 'Time Elapsed', 'a.name': 'Adventure Name'}) }}
      {{ knp_pagination_render(pagination, null, {}, {
      'align': 'center',
      'size': 'small',
      'rounded': true,
      }) }}
      </div>
      <div class="col-sm-12 col-md-8 table-responsive">
        <table class="table table-striped table-light">
          <thead>
            <tr>
              <th>ID</th>
              <th>User</th>
              <th>Gamebook</th>
              <th>Hero</th>
              <th>Time Elapsed</th>
              <th>Name</th>
              <th>Play</th>
            </tr>
          </thead>
          <tbody name="adventureTable" id="adventureTable">
            {% for adventure in pagination %}
            {% set id = adventure.id %}
              <tr>
                <td><a class="nav-link" href="{{ path('adventure_edit', {'id': adventure.id}) }}">{{ adventure.id}}</a></td>
                <td>{{ adventure.user }}</td>
                <td>{{ adventure.gamebook }}</td>
                <td><a class="nav-link" href="{{ path('hero_view', {'gamebook': adventure.gamebook, 'hero': adventure.hero, 'adventure': adventure.name}) }}">{{ adventure.hero }}</a></td>
                <td>{{ adventure.timeelapsed }}</td>
                <td>{{ adventure.name }}</td>
                <td>Play</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}           
</div>
{% endblock %}
