{% extends 'base.html.twig' %}

{% block title %}Gamebooks{% endblock %}

{% block body %}
<div class="container-fluid mt-3 mb-3">
  <p class="hidden" id="title">{{title}}</p> 
  {% if app.user != null %}
    <div class="row">
      <div class="col-sm-12 col-md-4">
      <a href="{{ path('gamebook_create') }}"><button type="button" class="col-12 btn-primary d-grid gap-2 nav-link text-white">Create Gamebook</button></a>   
      {{ knp_pagination_filter(pagination, {'g.name': 'Name'}) }}
      {{ knp_pagination_render(pagination, null, {}, {
      'align': 'center',
      'size': 'small',
      'rounded': true,
      }) }}
      </div>
      <div class="col-sm-12 col-md-8 table-responsive">
        <table class="table table-striped table-light">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Paragraphs</th>
            </tr>
          </thead>
          <tbody name="gamebookTable" id="gamebookTable">
            {% for gamebook in pagination %}
            {% set id = gamebook.id %}
              <tr>
                <td><a class="nav-link" href="{{ path('gamebook_edit', {'id': gamebook.id}) }}">{{ gamebook.id}}</a></td>
                <td>{{ gamebook.name }}</td>
                <td><a class="nav-link" href="{{ path('paragraph_view', {'gamebook': gamebook.name}) }}">Paragraphs</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}           
</div>
{% endblock %}
